body {
	min-width: 1600px;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

input {
	padding: 5px;
	border-radius: 5px;
}

header {
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #F26C2A;
	color: white;
	text-shadow: -1px 1px 1px #C15521;
	width: 100%;
}

header span {
	padding-left: 30px;
}

.slide-text {
	animation-duration: 3s;
	animation-name: slidein;
}
@keyframes slidein {
	from {
		margin-left: 100%;
		width: 300%;
	}
	to {
		margin-left: 0%;
		width: 100%;
	}
}

.h {
	display: inline-block;
	background: #C15521;
	padding: 10px;
	margin-top: 10px;
	margin-left: 50px;
	margin-bottom: 10px;
}
.subheader {
	text-align: center;
	font-weight: 300;
	position: relative;
	max-width: 1600px;
}

.signin {
	display: inline-block;
	position: absolute;
	right: 167px;
	bottom: 163px;
}

.sign-in {
	color: #909090;
	text-decoration: none;
	margin-right: 10px;
}

.register {
	color: #909090;
	text-decoration: none;
}

.subheader a {
	text-decoration: none;
}

.subheader img {
	display: inline-block;
	vertical-align: middle;
}

.subheader input {
	display: inline-block;
}

.sub2 {
	color: #303030;
	display: inline-block;
	font-size: 30px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	vertical-align: middle;
}

.cart {
	display: inline-block;
	color: #909090;
	border: 1px solid #E0E0E0;
	padding: 10px;
	margin-left: 50px;
	width: 100px;
	border-radius: 5px;
}

.sprite-cart {
	background: url('assets/sprite@2x.png') no-repeat -45px -16px;
	background-size: 400px 200px;
	width: 14px;
	height: 12px;
	display: inline-block;
	margin-right: 5px;
}

.zero {
	display: inline-block;
	background-color: #C8C8C8;
	margin-left: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	color: white;
}

.body1:before {
	content: "";
	background: url('assets/perforated-bottom%402x.png');
	background-repeat: repeat-x;
	padding: 50%;
	padding-bottom: 0px;
	padding-top: 10px;
	position: absolute;
}

.body1 {
	width: 100%;
	background-color: #F4F4F4;
	position: relative;
}

.images1 {
	text-align: center;
}

.ties {
	display: inline-block;
	padding: 5px;
}

.text1 {
	text-align: center;
	padding: 75px;
	font-size: 75px;
	font-weight: 300;
}

.body2 {
	width: 100%;
	margin-top: 50px;
	position: relative;
}

.images2 {
	text-align: center;
}

.acc {
	width: 400px;
}

.items {
	display: inline-block;
	position: relative;
	margin: 10px;
}

.items p {
	position: absolute;
	font-size: 30px;
	right: 20px;
	top: 0;
}

.text2 {
	text-align: center;
	padding: 60px;
	font-size: 40px;
	font-weight: 300;
	font-style: italic;
}

.text2 a {
	text-decoration: none;
	font-size: 15px;
	color: #3F9FFF;
}

.body2:after {
	content: "";
	background: url('assets/hatch-light%402x.png');
	background-repeat: repeat-x;
	padding: 50%;
	padding-bottom: 0px;
	padding-top: 10px;
	position: absolute;
}

.body3 {
	width: 100%;
	position: relative;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.body3 a {
	text-decoration: none;
	color: #3F9FFF;
}

.body3 div {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin-left: 10px;
	margin-right: 10px;
	}

.body3 img {
	width: 300px;
}

.body3 p {
	margin: 0;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 10px;
}

div.sprite-facebook {
	background: url('assets/sprite@2x.png') no-repeat -270px 0;
	background-size: 400px 200px;
	width: 35px;
	height: 35px;
	margin-top: 10px;
	margin-left: 0;
	margin-right: 5px;
}

div.sprite-pinterest {
	background: url('assets/sprite@2x.png') no-repeat -270px -40px;
	background-size: 400px 200px;
	width: 35px;
	height: 35px;
	margin-top: 10px;
	margin-left: 0;
	margin-right: 5px;
}

div.sprite-twitter {
background: url('assets/sprite@2x.png') no-repeat -270px -80px;
	background-size: 400px 200px;
	width: 35px;
	height: 35px;
	margin-top: 10px;
	margin-left: 0;
	margin-right: 0;
}

.more3 input {
	margin-top: 20px;
	margin-bottom: 20px;
}

.more3 a {
	color: white;
	text-decoration: none;
	font-size: 20px;
	border-radius: 5px;
	background-color: #3F9FFF;
	border: 1px solid #3586DE;
	text-shadow: none;
	padding: 10px;
}

.footer:before {
	content: "";
	background: url('assets/perforated-bottom%402x.png');
	background-repeat: repeat-x;
	padding: 50%;
	padding-bottom: 0px;
	padding-top: 10px;
	left: 0;
	top: 0;
	position: absolute;
}

.footer {
	width: 100%;
	background-color: #F4F4F4;
	text-align: center;
	padding-top: 50px;
	position: relative;
	}

.footer a {
	text-decoration: none;
	color: #909090;
}

.footer p {
	margin-bottom: 5px;
}

.footer div {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin-top: 10px;
	margin-left: 50px;
}

div.shop-by {
	margin-left: 0px;
}

div.contact-us {
	padding: 25px;
	width: 300px;
	background-color: #A3AFC2;
	color: white;
	text-shadow: -1px 1px 1px #727B88;
	margin-left: 350px;
} 

div.here {
	font-size: 25px;
	font-weight: 300;
	font-style: italic;
	padding-bottom: 10px;
	margin-left: 0;
}

.contact-us a {
	color: white;
	text-decoration: none;
	font-size: 20px;
	font-weight: 300;
	border-radius: 5px;
	background-color: #3F9FFF;
	border: 1px solid #3586DE;
	text-shadow: none;
	padding: 10px;
	float: right;
}

footer {
	background-color: #F4F4F4;
	padding-top: 50px;
	padding-left: 225px;
	padding-bottom:50px;
	color: #909090;
}

footer a {
	color: #909090;
}

footer span {
	padding-left: 30px;
}



















