body {
	min-width: 1600px;
}

header {
	padding: 10px;
	background-color: #F26C2A;
	color: white;
	text-shadow: -1px 1px 1px #C15521;
	width: 100%;
}

.slide-text {
	animation-duration: 3s;
	animation-name: slidein;
}
@keyframes slidein {
	from {
		margin-left: 100%;
		width: 300%;
	}
	to {
		margin-left: 0%;
		width: 100%;
	}
}

.h {
	display: inline-block;
	background: #C15521;
	padding: 10px;
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 15px;
	margin-bottom: 10px;
}
.subheader {
	text-align: center;
}
.subheader a {
	text-decoration: none;
}

.subheader img {
	display: inline-block;
	vertical-align: middle;
}

.sub1 {
	display: inline-block;
	color: #909090;
}

.sub2 {
	color: #303030;
	display: inline-block;
	font-size: 30px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	vertical-align: middle;
}

.cart {
	display: inline-block;
	color: #909090;
	border: 1px solid #E0E0E0;
	padding: 10px;
	margin-left: 50px;
	width: 100px;
	border-radius: 5px;
}

.sprite-cart {
	background: url('assets/sprite@2x.png') no-repeat -45px -16px;
	background-size: 400px 200px;
	width: 14px;
	height: 12px;
	display: inline-block;
	margin-right: 5px;
}

.body1:before {
	content: "";
	background: url('assets/perforated-bottom%402x.png');
	background-repeat: repeat-x;
	padding: 50%;
	position: absolute;
}

.body1 {
	width: 100%;
	background-color: #F4F4F4;
	position: relative;
}

.images1 {
	text-align: center;
}

.ties {
	display: inline-block;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}

.text1 {
	text-align: center;
	padding: 20px;
}

.body2 {
	width: 100%;
	margin-top: 50px;
}

.images2 {
	text-align: center;
}

.acc {
	width: 400px;
}

.items {
	display: inline-block;
	position: relative;
	margin: 10px;
}

.items p {
	position: absolute;
	font-size: 30px;
	right: 20px;
	top: 0;
}

.text2 {
	text-align: center;
	padding: 60px;
	font-size: 30px;
}

.text2 a {
	text-decoration: none;
	font-size: 15px;
	color: #3F9FFF;
}

.body3:before {
	content: "";
	background: url('assets/hatch-light%402x.png');
	background-repeat: repeat-x;
	padding: 50%;
	position: absolute;
}

.body3 {
	width: 100%;
	position: relative;
}

.more {
	display: inline-block;
}

.footer:before {
	content: "";
	background: url('assets/perforated-bottom%402x.png');
	background-repeat: repeat-x;
	padding: 50%;
	position: absolute;
}

.footer div {
	width: 100%;
	position: relative;
}










